body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  width: 320px;
  margin: 0;
  padding: 1rem 0;
}

#form {
  margin: 0 1rem 1rem 1rem;
}

.bookmark-item {
  align-items: center;
  color: inherit;
  display: flex;
  flex-direction: row;
  position: relative;
  text-decoration: none;
  user-select: none;
  outline: none;
  background: none;
  border: none;
  padding: 5px 10px;
  text-align: left;
  width: 100%;
}

button.bookmark-item:hover {
  cursor: pointer;
  background-color: #eeeeee;
}

.bookmark-item--icon {
  background-repeat: no-repeat;
  background-size: contain;
  height: 16px;
  margin: 2px;
  width: 16px;
}

.bookmark-item--toggle {
  margin-right: 20px;
  opacity: 0;
}

button.bookmark-item:hover .bookmark-item--toggle {
  opacity: 1;
}

.bookmark-item--title {
  width: 0;
  flex: 1;
  margin-inline-start: 20px;
  text-decoration: none;
}

.bookmark-item[data-muted] .bookmark-item--favicon,
.bookmark-item[data-muted] .bookmark-item--title {
  opacity: 0.25;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-inline .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
  flex-grow: 1;
}

.form-control {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #464a4c;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
  color: #464a4c;
  background-color: #fff;
  border-color: #5cb3fd;
  outline: none;
}

.form-control::placeholder {
  color: #636c72;
  opacity: 1;
}

.form-control-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}

.form-control-lg {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}

.btn {
  display: inline-block;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.btn:focus, .btn:hover {
  text-decoration: none;
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25);
}

.btn.disabled, .btn:disabled {
  cursor: not-allowed;
  opacity: .65;
}

.btn:active, .btn.active {
  background-image: none;
}

a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}

.btn-primary {
  color: #fff;
  background-color: #ffcc16;
  border-color: #ffcc16;
}

.btn-primary:hover {
  color: #fff;
  background-color: #fcc400;
  border-color: #e2b100;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 2px rgb(226, 177, 0, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: #ffcc16;
  border-color: #ffcc16;
}

.btn-primary:active, .btn-primary.active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #fcc400;
  background-image: none;
  border-color: #e2b100;
}
